#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.el-container {
  margin-bottom: 20px;
}
.header {
  background: rgb(84, 92, 100);
}
.footer {
  background: rgb(84, 92, 100);
  color: #fff;
}


.el-table__expanded-cell[class*=cell]{
  padding: 0;
}



